extends ../layout/layout.pug

block content
    script(src=baseUrl + "download.js" defer)
    h1 体验版本下载
    | 为了让吸引大家来体验 SharpCraftLauncher，此处特别提供了体验版本给大家使用。
    br
    | 与正在开发的开发版本不同的是，此处提供的版本不包含部分功能，与该功能相关的入口会禁用。
    .demo.show
        .name 全部 DEMO 下载
        div 查毒报告无法全部列明，可以自行上传扫毒
        a.button.button-d(href="https://wwa.lanzoui.com/b07mrdope") 从 蓝奏云 下载（密码：a3xg）
    .demo-files 加载中……
    h1 想体验最新开发版本？
    | 快来给 SteveXMH 在爱发电上发电吧！一次发电即可获得永久的开发版本下载权利！同时还能让作者离 MacOS 支持更进一步！
    .afdian
        iframe(title="爱发电" scrolling="no" width="500" height="230" frameborder="0" src="https://afdian.net/leaflet?slug=SteveXMH")
