extends ../layout/layout.pug

block before-header
    .main#main
        img.bg(alt="背景" data-src="scl-icon-bg-1920w.png")
        .inner
            img.scl-icon(data-src="scl-icon.svg" alt="SCL 图标")
            div
                .main-1 SharpCraftLauncher
                .main-2 一个轻量，迅速，简洁的 Minecraft 启动器
        .detail 详情下滑
            

block content
    h1 你的下一个启动器，何必是横着的
    | 独特的竖向流式设计，去掉了很多启动器并无必要的空白（虽然我们清楚这较为美观），空间利用率大为提高。
    br
    br
    | 麻雀虽小，五脏俱全。在狭小的体积装下现有启动器应有的功能，是我们的目标。
    br
    br
    | 启动游戏、下载游戏、模组安装[1]、多 Java 支持，我们都准备好了。
    h1 语言生锈了，但更坚韧了
    | 我们使用了 Rust 作为编写启动器的主要语言，得到了性能和内存的强力优化，同时作为编译型编程语言，没有 VM，没有运行时，更没有动态链接库，冷启动速度得到非常大的提升，同时也减少了用户的安装难度。
    br
    br
    | Sharp Craft Launcher 最快可以在 120ms 内启动，在性能较为落后的机械硬盘和低配电脑上也能控制在 2 秒左右启动，这是很多基于 C# / Java 的启动器都无法达到的速度，有些启动器企图通过显示临时启动窗口 / 标识来平滑过渡冷启动流程，但这样依然不能根本解决冷启动速度缓慢的问题。
    br
    br
    | 不仅我们在速度上有强大的优势，内存占用上也非常出众，在忽略 Direct2D（Windows） 在显存方面的占用（即便计入在内，显存占用也只需 30MB 左右）上，Sharp Craft Launcher 冷启动后只会占用 14 MB 左右的内存，即使是正在下载游戏，内存也只会在 25 MB 左右波动。
    h1 异步不便秘，下载如窜稀
    | 得益于 Rust 的零开销异步和强大的多线程操作，只需要给每一个核心一个线程，与异步的百万级并发相结合，就可以用最少的硬件资源，达到最快的下载速度。
    br
    | 同时，我们的下载引擎经过当今 HTTP 传输协议新标准的优化，连接复用、压缩数据等新特性也能大幅提升下载速度。
    h1 独乐不如众乐，不论系统
    | 得益于 Rust 的超强跨平台编程能力，Sharp Craft Launcher 能够在 Windows，Linux，MacOS[2] 运行。启动游戏，不再是 C# / Java / 易语言[3] 的专利，更不受各种操作系统的限制。
    h1 流畅设计体系，行云流水
    | Fluent Design 的流畅且不失严肃的设计，被大量用于启动器的页面设计。
    br
    br
    | 在设计的同时精简了很多布局，并去掉了大部分启动器长期保留的大侧边留空（或在启动流程内只做到了装饰作用的），采取了竖向流动尺寸的设计，提高了启动器的空间利用率和效率，让你在前往 Minecraft 的路上更加“行云流水”。
    h1 安全第一，隐私第一
    | 不像一些由易语言开发的软件有近半成安全软件会被误报成病毒文件，或者是为了刻意避开病毒审查而去向杀毒软件申诉的启动器，Sharp Craft Launcher 只会使用必要的代码与接口，绝不触碰任何敏感系统接口[4]，更不会刻意收集用户隐私数据，就目前在 VirusTotal 中从未被任何一项杀毒软件平台检测为病毒。
    br
    br
    | 您在 Sharp Craft Launcher 输入的正版账户和密码，我们不会保存，更不会上传到某处服务器。唯一留在你的电脑里的只有你的用于游戏正版启动的启动令牌，不仅如此还会进行必要的加密手段，以防止他人未经允许使用你的账户进行游戏。
    h1#support 仍在开发状态，欢迎支持
    | 由于目前没有任何人使用过 Rust 开发带有图形页面的 Minecraft 启动器，这使得制作启动器时间会延长不少。因此我们选择了付费内测并在此发布体验版本，给想立刻体验启动器的玩家们使用我们启动器的机会。
    br
    br
    | 如果你感兴趣想体验开发中的内测版本，可以通过爱发电搜索 @SteveXMH 来找到我们。
    .afdian
        iframe(title="爱发电" scrolling="no" width="500" height="230" frameborder="0" src="https://afdian.net/leaflet?slug=SteveXMH")
    h1 目前内测开发版展示
    .showcase
        - let n = 0
        while n < 6
            img(alt=`展示图 #${n}` width=358 height=478 data-src=`showcase-${n}.png` draggable="false")
            - n++
    h1 备注
    ol
        li 模组下载支持 Curseforge 平台和新兴的 Modrinth 平台；
        li MacOS 由于没有开发设备故无法进行开发，为何不试试给作者发电买个 Mac Mini 呢？
        li 我是真的没想到，都 2021 年了还有人在用易语言……
        li 内测用户会需要在启动器发生错误时提交错误报告到内测群中，其报告会包含用户的操作系统、启动器版本号、系统时间等数据，由于作者没有资金经营服务器，所以只能在内测群内提交错误，公开体验版本将不会包含错误报告收集功能。

