
*
    margin 0
    box-sizing content-box
    text-decoration none
    color white

html
    scroll-behavior smooth
    font-family sans-serif

body
    background-color #0A0202
    user-select none

blur-level = 15px

img[data-src]
    transition filter 0.5s, opacity 0.5s
    filter blur(blur-level)
    overflow hidden
    opacity 0
    &[src]
        filter blur(0)
        opacity 1
    &[src*=".min"]
        filter blur(blur-level)


@keyframes fd-ease-in
    0%
        opacity 0
        transform translateY(5rem)
    100%
        opacity 1
        transform translateY(0)

@keyframes arrow
    0%
        transform translateY(0)
    50%
        transform translateY(1rem)
    100%
        transform translateY(0)

.main
    height 100vh
    width 100%
    display flex
    flex-direction column
    > .bg
        width 100%
        height 100%
        top 0
        background-size cover
        background-position center
        background-clip border-box
        background-origin content-box
        overflow hidden
        position absolute
        object-fit cover
        object-position center
    > .detail
        filter drop-shadow(0 0 2rem black)
        flex 0
        text-align center
        padding-bottom 2rem
        animation arrow 4s ease-in-out infinite
        &::after
            content " "
            background-color transparent
            width 0
            height 0
            display block
            margin 1rem auto
            border 12px solid transparent
            border-top 12px solid white
    > .inner
        font-size 0.5rem
        filter drop-shadow(0 0 2rem black)
        display flex
        flex 1
        vertical-align middle
        justify-content center
        justify-self center
        align-items center
        animation fd-ease-in 0.5s cubic-bezier(0, 0, 0, 1) 0s forwards
        @media screen and (max-width: 960px)
            flex-direction column
        .main-1
            font-size 4rem
            opacity 0
            animation fd-ease-in 0.3s cubic-bezier(0, 0, 0, 1) 0.1s forwards
            @media screen and (max-width: 960px)
                margin-top 2rem
                margin-bottom  2rem
                text-align center
                font-size 2rem
        .main-2
            font-size 2rem
            opacity 0
            animation fd-ease-in 0.3s cubic-bezier(0, 0, 0, 1) 0.2s forwards
            @media screen and (max-width: 960px)
                text-align center
                font-size 1rem

.afdian
    display flex
    justify-self center
    > iframe
        border-radius 0.5rem
        max-width 100%
        margin 2rem auto

.showall
    background-color #FFF1
    border-radius 0.5rem
    padding 1.5rem 2rem
    text-align center
    cursor pointer

.demo,
.demo-files > .file
    background-color #FFF1
    border-radius 0.5rem
    padding 1.5rem 2rem
    margin 1rem 0
    display none
    &.show
        display block
    > .name
        font-weight bold
        user-select text
    > .hash
        font-weight lighter
        color #FFF7
        user-select text
        font-size 0.8rem
        margin-bottom 1rem
    .button
        display inline-block
        cursor pointer
        margin-right:  1rem
        padding 0.5rem 1rem
        border-radius 0.5rem
        background-color #F74C00
        &:hover
            background-color #C33C00


header
    background url(noise.png), linear-gradient(0deg, rgba(12, 3, 4, 0.4), rgba(12, 3, 4, 0.4)), rgba(12, 3, 4, 0.7)
    background-blend-mode normal, color, luminosity
    display flex
    position sticky
    top 0
    width 100%
    overflow hidden
    justify-content center
    backdrop-filter blur(60px)
    box-shadow 0px 3.2px 7.2px rgba(0, 0, 0, 0.13), 0px 0.6px 1.8px rgba(0, 0, 0, 0.11)
    line-height 5rem
    height 5rem
    border-bottom 1px solid #FFF1
    @media screen and (max-width 960px)
        line-height 4rem
        height 4rem
    > span
        display flex
        width 60%
        height 5rem
        > .name::after
                content 'Sharp Craft Launcher'
                display inline
                position relative
        > *
            padding 0 1rem
            &:hover 
                background-color #FFF1
        @media screen and (max-width 960px)
            width 100%
            > .name
                height 4rem
                &::after
                    content ''
                    display inline-block
                    width 2rem
                    height 100%
                    background-image url(scl-icon-flat.svg)
                    background-size contain
                    background-position center
                    background-clip border-box
                    background-origin content-box
                    background-repeat no-repeat

.content
    padding 0 20%
    margin auto
    max-width 1080px
    line-height 2rem
    @media screen and (max-width 960px)
        padding 0 2rem
    > h1
        margin 2rem 0
    > .showcase
        display flex
        flex-wrap wrap
        justify-content center

.footer
    width 100%
    margin 4rem 0
    display flex
    flex-direction column
    text-align center
    line-height 4rem
    
